@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sec1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 65px;
}
header{
    width: 100%;
    padding: 39px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    font-family: "Open Sans", sans-serif;
    gap: 40px;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    gap: 40px;
}
.content1{
    width: 100%;
    height: 70vh;
    background-image: url(./Untitled-2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 37px;
}
h1{
    font-family: "Raleway", sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}
.paragraph1{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.button1{
    gap: 62px;
    display: flex;
}
.Lbutton1{
    color: white;
    background-color: rgb(92, 116, 240);
    padding: 17px 31px;
    border-radius: 2rem;
    border: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    width: 220px;
}
.Rbutton1{
    color: black;
    background-color: rgb(241, 197, 14);
    padding: 17px 31px;
    border-radius: 2rem;
    border: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    width: 220px;
}
.sec1p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
.sec1p a{
    color: rgb(92, 116, 240);
    text-decoration: none;
    font-weight: 600;
}
.sec2{
    background-color: rgb(92, 116, 240);
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 60px 0;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 60px 0;
}
.sec2 h2{
    font-family: "Raleway", sans-serif;
    font-size:48px;
    font-weight:400;
}
.form{
    width: 65%;
    background-color: white;
    padding: 32px 32px;
    border-radius: 3rem;
    display: flex;
    font-family: "Open Sans", sans-serif;
    gap: 10px;

}
.form input{
    width: 75%;
    padding: 15px 20px;
    border-radius: 30px;
    border: 0;
    background-color: #eeeeee;
}
.form button{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    border-radius: 2rem;
    padding: 10px 30px;
    border: 0;
    background-color: rgb(241, 197, 14);
    text-transform: uppercase;
}
.sec3{
    width: 100%;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    background-color: white;
}
.boxes {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.box {
    width: calc((100% - 2rem) / 3);
    height: 320px;
    background-color: #ddd;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;

}
.box img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}
.box2{
    padding: 35px 0;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.boxColor2{
    width: 100%;
    height: 100%;
    background-color: rgb(92, 116, 240);
    border-radius: 2rem;
}
.box2 p:nth-child(1){
    font-family: "Raleway", sans-serif;
    font-size:30px;
    font-weight:700;
    color: rgb(255, 255, 255);
}
.box2 p:nth-child(2){
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
}
.box2 p:nth-child(3){
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
}
.box2 p:nth-child(3) a {
    text-decoration: none;
    color: white;
}
.iconbox4{
    width: 65px;
    height: 65px;
    background-color: rgb(241, 197, 14);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:nth-child(4) {
    padding-top: 45px;
    gap: 25px;
}

.iconbox4 img{
    width: 30px;
    height: 30px;   
}
.box4{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.box4 p:nth-child(1){
    font-family:"Raleway", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: rgb(17, 17, 17);
}
.box4 p:nth-child(2){
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: rgb(17, 17, 17);
}
.iconbox6{
    width: 65px;
    height: 65px;
    background-color: rgb(241, 197, 14);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:nth-child(6) {
    padding-top: 45px;
    gap: 25px;
}

.iconbox6 img{
    width: 30px;
    height: 30px;   
}
.box6{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.box6 p:nth-child(1){
    font-family:"Raleway", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: rgb(17, 17, 17);
}
.box6 p:nth-child(2){
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: rgb(17, 17, 17);
}
.box6 p:nth-child(1){
    font-family:"Raleway", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: rgb(17, 17, 17);
}
.box6 p:nth-child(2){
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: rgb(17, 17, 17);
}
.sec4{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 45px;
    padding-top: calc(144px - 77px);
    align-items: center;
}
.sec4 h2{
    color: rgb(17, 17, 17);
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-weight: 400;

}
.sec4boxes{
    width: 75%;
    display: flex;
    gap: 3rem;
    align-items: center;
}
.sec4box:nth-child(1){
    background-color: rgb(92, 116, 240);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.sec4box:nth-child(2){
    background-color: rgb(241, 197, 14);
    color: rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.sec4box:nth-child(3){
    background-color: #ddd;
    color: rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.sec4box{
    width: calc((100% - 6rem) / 3);
    padding: 65px 25px;
    border-radius: 3rem;
    text-align: center;
}
.sec4box h1{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}
.sec4box p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
}
.sec5{
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
}
.textbox{
    font-family: "Open Sans", sans-serif;
    width: 20%;
    font-size: 16px;
    color: rgb(153, 153, 153);
    align-items: center;
    padding-top: 30px;
}
.sec5boxes{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.sec5boxsmall{
    width: 25%;
    height: 350px;
}
.sec5boxbig{
    width: calc(55% - 2rem);
    height: 340px;
}
.sec5boxsmall img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background-position: center;
}
.sec5boxbig img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}
.sec5 p:nth-child(2){
    color: rgb(17, 17, 17);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
.sec5 p:nth-child(2) a{
    color: rgb(241, 197, 14);
    text-decoration: none;
}
.sec6{
    background-color: rgb(92, 116, 240);
    width: 100%;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.sec6 p:nth-child(1){
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.sec6 h2{
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-weight: 400;
}
.sec6 p:nth-child(3){
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
.sec6 button{
    width: 220px;
    background-color: rgb(241, 197, 14);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: rgb(17, 17, 17);
    border-radius: 2rem;
    border: 0;
    padding: 15px 30px;
    text-transform: uppercase;
}
.sec7{
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
}
.sec7 h2{
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-weight: 400;
}
.sec7 p:nth-child(2){
    font-family:"Open Sans", sans-serif;
    font-size: 16px;
}
.sec7 p:nth-child(3){
    font-family:"Open Sans", sans-serif;
    font-size: 16px;
}
.sec7 p:nth-child(3) a{
    font-family:"Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgb(92, 116, 240);
    text-decoration: none;
}
.sec8{
    width: 100%;
    background-color: #ddd;
    padding: 60px 0 ;
    display: flex;
    justify-content: center;
}
.sec8boxes{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.sec8box{
    width: calc((100% - 2rem) / 2);
    padding: 30px;
    background-color: white;
    border-radius: 3rem;
    align-items: center;
    gap: 28px;
    display: flex;
}
.teamImage{
    width: 185px;
    height: 185px;
    border-radius: 50%;
}
.teamContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.teamContent p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}
.teamContent h3{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
.social{
    display: flex;
    gap: 25px;
    color: rgb(92, 116, 240);
}
.social img{
    width: 40px;
    height: 40px;
    background-color: rgb(92, 116, 240);
    border-radius: 1rem;
}
.sec9{
    width: 100%;
    height: 70vh;
    background-image: url(./pensive-male-customer-looking-away.jpg);
    display: flex;
    flex-direction: column;
    gap: 65px;
    background-size: cover;
    padding: 118px 131px;
}
.sec9 h2{
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-weight: 400;
}
.sec9 p:nth-child(2){
    font-family:"Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.sec9 p:nth-child(3){
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}
.sec9 p:nth-child(3) a{
    text-decoration: none;
    color: rgb(92, 116, 240);
}
.sec9buttons{
    display: flex;
    gap: 40px;

}
.sec9buttons button{
    width: 230px;
    padding: 18px 30px;
    border: 0;
    border-radius: 2rem;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
.sec9buttons button:nth-child(1) {
    background-color: rgb(92, 116, 240);
    color: white;
}

.sec9buttons button:nth-child(2) {
    background-color: rgb(241, 197, 14);
    color: black;
}
.sec10 {
    width: 100%;
    padding: 60px 0;
    background-color: rgb(241, 197, 14);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 35px;
}
.sec10 h2 {
    font-family:"Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 400;
}
.sec10paragraph {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.sec10paragraph a {
    color: rgb(92, 116, 240);
    text-decoration: none;
    font-weight: 700;
}
.sec10boxes {
    width: 58%;
    display: flex;
    gap: 2rem;
}
.sec10box {
    width: calc((100% - 4rem) / 3);
    padding: 35px 40px;
    background-color: white;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
}
.sec10title {
    display: flex;
    align-items: center;
    gap: 30px;
}
.sec10icon {
    width: 80px;
    height: 80px;
    background-color: rgb(92, 116, 240);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec10icon img {
    width: 45px;
    height: 45px;
}
.sec10box h3 {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.sec10box p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.sec10box p:nth-child(2) {
    color: rgb(92, 116, 240);
}
.sec10box p:nth-child(3) {
    color: black;
    font-weight: 700;
}
.footer {
    width: 100%;
    padding: 55px 0;
    background-color: rgb(51, 51, 51);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;

    font-family: "Open Sans", sans-serif;
}

.footer p:nth-child(1) {
    font-size: 14px;
}

.footer p:nth-child(2) {
    font-size: 12.8px;
}

.footer a {
    color: rgb(188, 198, 249);
}